.u-bg-black{
    background-color: $black;
}

.u-bg-info{
    background-color: $info;
}

.u-bg-dark-gray{
    background-color: $dark-gray;
}

.u-bg-dark-blue{
    background-color: $dark-blue;
}

.u-bg-light-gray{
    background-color: $light-gray;
}

.u-bg-footer{
    background-color: $footer;
}

.u-text-white{
    color: $white;
}

.u-text-gray{
    color: $text-gray;
}

.u-text-footer-text{
    color: $footer-text;
}

.u-text-blue{
    color: $blue-text;
}

