*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #181a19;
  text-decoration: none;
}

a:hover {
  color: #181a19;
  text-decoration: underline;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1140px;
}

.o-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.o-row--center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.o-col--lg25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.o-col--lg33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.o-col--lg66 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
          flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.o-col--lg50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.o-col--lg75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  padding: .3rem 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 220px;
}

.c-btn:hover {
  text-decoration: none;
}

.c-btn--blue {
  background-color: #1a75b7;
  color: #FFFFFF;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-btn--blue:hover {
  background-color: #104a74;
  color: #FFFFFF;
}

.c-heading {
  color: #0e3e5d;
  line-height: 1.2;
  margin-bottom: 5px;
}

.c-heading--level1 {
  font-size: 3rem;
}

.c-heading--level2 {
  font-size: 1.5rem;
}

.c-heading--level3 {
  font-size: 1.125rem;
}

.c-heading--level4 {
  font-size: 1rem;
}

.c-heading--level5 {
  font-size: 0.875rem;
}

.c-heading--upper {
  text-transform: uppercase;
}

.c-heading--white {
  color: #FFFFFF;
}

.c-nav__item {
  color: #FFFFFF;
  display: block;
  font-size: 0.875rem;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-left: 50px;
  width: auto;
}

.c-nav__item:hover {
  color: #0080e8;
  text-decoration: none;
}

.c-icon-box {
  text-align: center;
}

.c-icon-box__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  margin-bottom: 25px;
}

.c-icon-box__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-icon-box__text {
  font-size: 0.75rem;
  margin-top: 15px;
}

.c-label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.c-list__item {
  margin-bottom: 12px;
}

.c-list--unstyled {
  list-style-type: none;
}

.t-site-header__top {
  padding-bottom: 25px;
  padding-top: 25px;
}

.t-site-header__menu {
  margin-top: 20px;
  margin-top: 0;
  text-align: right;
}

.t-section-info {
  height: 377px;
}

.t-section-info__left-side {
  left: 130px;
  top: 40px;
  max-width: 300px;
}

.t-section-info__headline-big {
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
}

.t-section-info__headline-text {
  right: 50px;
  font-size: 0.875rem;
  color: #266ced;
  text-align: justify;
  font-weight: 400;
}

.t-section-gray {
  height: 70px;
}

.t-section-gray__bold-text {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 10px;
  text-align: justify;
  width: auto;
  text-align: center;
  color: #434747;
}

.t-button-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-button-section__button-image {
  position: relative;
}

.t-button-section__button-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  font-size: 2.5rem;
  color: #46bfeb;
  font-style: italic;
  width: 301px;
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
}

.t-button-section__button {
  position: absolute;
  left: 40px;
  bottom: 20px;
}

.t-button-section__text {
  text-align: justify;
  font-weight: 400;
}

.t-section-images {
  background-color: #e5e6ed;
  padding-top: 20px;
}

.t-section-images__content {
  padding-bottom: 40px;
  text-align: center;
}

.t-section-images__item {
  margin-bottom: 15px;
}

.t-section-images__image {
  margin-bottom: 15px;
}

.t-section-images__title-text {
  color: #0e3e5d;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.t-section-images__text {
  color: #0e3e5d;
  font-size: 0.875rem;
  line-height: 1.8;
}

.t-site-footer {
  padding-left: 15px;
  padding-right: 15px;
}

.t-site-footer .o-row {
  padding-bottom: 10px;
  padding-top: 20px;
}

.t-site-footer__item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.t-site-footer__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-size: 1.125rem;
  font-weight: 400;
}

.t-site-footer__link {
  color: #cee7f5;
  font-size: 0.75rem;
}

.t-site-footer__link:hover {
  color: #FFFFFF;
}

.t-site-footer__border {
  height: 3px;
  background-color: #0e3e5d;
  border-top: solid black 1px;
  width: 65%;
}

.t-site-footer__text {
  color: #cee7f5;
  font-size: 0.75rem;
}

.t-site-footer__copyright {
  color: #2c79f5;
  font-size: 0.75rem;
  font-weight: 200;
}

.u-mb-1 {
  margin-bottom: 10px;
}

.u-mb-2 {
  margin-bottom: 20px;
}

.u-mb-3 {
  margin-bottom: 30px;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-bg-black {
  background-color: #000000;
}

.u-bg-info {
  background-color: #090f15;
}

.u-bg-dark-gray {
  background-color: #181a19;
}

.u-bg-dark-blue {
  background-color: #0e3e5d;
}

.u-bg-light-gray {
  background-color: #e5e6ed;
}

.u-bg-footer {
  background-color: #082439;
}

.u-text-white {
  color: #FFFFFF;
}

.u-text-gray {
  color: #434747;
}

.u-text-footer-text {
  color: #cee7f5;
}

.u-text-blue {
  color: #266ced;
}

.u-pos-relative {
  position: relative;
}

.u-pos-absolute {
  position: absolute;
}
/*# sourceMappingURL=style.css.map */