.t-site-footer{
    padding-left: $gutter;
    padding-right: $gutter;

    & .o-row{
        padding-bottom: $grid-base * 1;
        padding-top: $grid-base * 2;
    }

    &__item{
        flex-basis: auto;

        
    }


    &__head{
        align-items: center;
        display: flex;
        height: $grid-base * 6;
        font-size: $font-size-3;
        font-weight: 400;
    }

    &__link{
        color: $footer-text;
        font-size: $font-size-6;       
    }

    &__link:hover{
        color:$white;
    }

    &__border{
        height: 3px;
        background-color: $dark-blue-text;
        border-top: solid black 1px;
        
        width: 65%;
    }

    &__text{
        color: $footer-text;
        font-size: $font-size-6;
    }

    &__copyright{
        margin-top: $grid-base;
        color: $copyright-text;
        font-size: $font-size-6;
        font-weight: 200;
    }

    &__input{
        
        margin-top: $grid-base;
        height: $line-height-lg;
        box-sizing: border-box;
        float: left;
        margin-right: $grid-base * 2;
    }
}